  <nav>
    <a style="background-color: #ffd740" class="btn-floating btn-large waves-effect waves-light right pulse z-depth-5" href="/">
        <i class="tiny material-icons black-text">home</i>
    </a>
  </nav>