<!-- navbar -->
  <nav>
    <a style="background-color: #ffd740" class="btn-floating btn-large waves-effect waves-light right pulse z-depth-5" href="/cart">
        <i class="tiny material-icons black-text">shopping_cart</i>
    </a>
  </nav>

<h1 id="homePage-head">Doomsday Store Home Page</h1>
<!--  -->
<div class="row">

    <div class="col-md-4">

        <div class="list-group">

            {{#each categories}}
            <a style="background-color: #ffd740" class="list-group-item list-group-item-action z-depth-5" href="/category/{{this}}">{{this}}</a>
            {{/each}}

        </div>

    </div>

    <div class="col-md-4" id="description-div">
  
        <h1 class="display-4">
            The webstore that keeps you <del>dead</del> alive <i class="material-icons">sentiment_very_satisfied clear directions_run</i>
        </h1>

        <p class="lead">SURVIVE, SURVIVE, SURVIVE!! Browse through prdocuts that will be sure to help you through these hard times.
             Checkout popular items to ensure you stay trendy! 
        </p>

    </div>

    <div col-md-4 id="quote">
        "Forget the future,
        Forget the past.
        Life is over:
        Breathe your last.”
        -Abarat (Clive Barker)
    </div>
    <!-- end row -->
</div>

<h1 id="popItems-txt">Popular Items</h1>

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">

        <div class="carousel-item active" data-interval="5000">
            <img src="https://placekitten.com/150/150" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item" data-interval="5000">
            <img src="https://placekitten.com/150/150" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item" data-interval="5000">
            <img src="https://placekitten.com/150/150" class="d-block w-100" alt="...">
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
   
    </a>
    
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>

    </a>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/home-page.js"></script>