body{
    background-image: url(https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg);
    
}

#logIn-div{
   background-image: url(https://i.ytimg.com/vi/KjMg4UQNnDI/maxresdefault.jpg);
   width: 70%;
   height: 90%;
   margin: auto;
   margin-top: 100px;
   border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px #212121 ;
}

nav{
    background-image: url(https://i.ytimg.com/vi/KjMg4UQNnDI/maxresdefault.jpg);
}

#price{
    color: red;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Nanum Brush Script', cursive;
}

.list-group {
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.start-btn{
    /* margin-left: 355px; */
    background-color: #ffd740;
    color: black;
    margin-left: 50%;
}

#exampleInputEmail1{
    color: #ffd740;
   
}

#emailTxt{
    color: #ffd740;
    font-size: xx-large;
    font-family: 'Nanum Brush Script', cursive;
}

#passwordTxt{
    color: #ffd740;
    font-size: xx-large;
    font-family: 'Nanum Brush Script', cursive;
}

#login-form{
    margin-top: 100px;
}

#login-head{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    margin-top: 80px;
}

h2{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    font-size: 90px
}

.nav-wrapper{
    background-color: #212121;
    
   
}



.list-group{
    width: 55%;
    margin-top: 10%;
    margin-left: 5%;
    
}

#carouselExampleInterval{
    /* background-color: #ffd740; */
    width: 50%;
    margin: auto;
    /* margin-bottom: 5%; */
    
}

#homePage-head{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
}

#popItems-txt{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    /* margin-top: 20%; */
}

#quote{
    font-size: 250%;
    width: 15%;
    height: 90%;
    margin-left: 10%;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
}

#description-div{
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    
}

.lead{
    font-size: 25px;
}

#loginTag{
    color: #ffd740;
    margin-left: 50%;
}

#toilet-description-head{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
}

#toilet-description-paragraph{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    font-size: xx-large;
}

.rowOneDiv{
    margin: auto;
    /* background-color: red; */
}

.item-txt{
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    text-align: center;
}


.btn-decorcation{
    font-family: 'Nanum Brush Script', cursive;
    background-color: #ffd740;
    color: black;
}

.rowTwoDiv{
    margin: auto;
    margin-top: 2%;
    /* background-color: blue; */
    
}

.card-body{
    background-image: url(https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg);
}

.card-text{
    font-family: 'Nanum Brush Script', cursive;
    color: #ffd740;
    font-size: large;
}

.card{
    border-color: black;
}

.card-img-top{
    height: 200px;
}

#cartCard{
    background-color: black;
    color: #ffd740;
    font-family: 'Nanum Brush Script', cursive;
    font-size: large;
}

#categories{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
}

.fixed-action-btn{
    position: fixed;
    top: 0%;
}